<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bolean.dao.UserMapper" >
    <resultMap id="BaseResultMap" type="com.bolean.model.User" >
        <id column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_password" property="passWord" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List" >
        user_id, user_name, user_password
    </sql>

    <select id="getAllUser" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM demo_user
    </select>

</mapper>